#chessboard {
    display: grid;
    grid-template-columns: repeat(8,  calc(var(--board-width)/8));
    grid-template-rows: repeat(8,  calc(var(--board-height)/8));
    height: var(--board-height);
    width: var(--board-width);
    
}
